<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "#WhiteGirlMusic", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
 
<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <% if user_signed_in? %>
     <li>
            <%= link_to new_pin_path do %>
              <div style="color:#1FD26A"><span class="glyphicon glyphicon-th-list"></span> New LifeTrack
              </div>
            <% end %>
          </li>

      <li><%= link_to 'Albums', pins_path, class: "btn btn-info" %>
      <li><%= link_to "My Account",edit_user_registration_path %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    <% else%>
      
      <li><button type="button" class="btn btn-success btn-lg">
      
      <div class="dropdown">
      <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">

        <span class="glyphicon glyphicon-headphones"></span> Play Music
      </a>


      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    

<li><%= render 'layouts/player' %></li>
        
    
      </ul>
      </div>
    </button>
      <li><%= link_to "Log In", new_user_session_path %>
    <% end%>    
    </ul>
  </div><!-- /.navbar-collapse -->



</nav>

    
  